@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), serif;
  
  --color-primary: #FE6100;
  --color-primary-light: #FF8533;
  --color-primary-dark: #cc4e00;
  --color-accent: #FE6100;
  --color-brand-muted: #F9FAFB;

  --color-warm-grey: #EDE9E6;
  --color-brand-brown: #2A211C;
  --color-brand-beige: #D9D2CD;
  
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;
  --radius-4xl: 3rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
